.user-management {
  padding: 20px;
  width: 45%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-management h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.add-user-btn {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.user-details {
  flex-grow: 1;
}

.user-name {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.user-permission {
  display: block;
  font-size: 14px;
  color: #666;
  text-transform: capitalize;
}

.user-username {
  display: block;
  font-size: 14px;
  color: #666;
}

.user-actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 30%;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dialog-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dialog-submit-btn {
  align-self: flex-end;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-submit-btn:hover {
  background-color: #0056b3;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.dialog-cancel-btn {
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-cancel-btn:hover {
  background-color: #c82333;
}